

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	
</head>
<body class="warpper">
<!-- 	<a href="/"><img alt="Blog.  Yep, it is that easy." src="/images/mhq_top_small.png?1412704177"  class='navigation'/> -->
	<nav class="navigation">
		<span><a title="Home" href="/">home</a></span>
		<span><a href="/archive" title="archive">archive</a></span>	
		<span><a href="/tags" title="tags">tags</a></span>
		<span><a href="/links" title="links">links</a></span>
		<% if(user) {  %>
		<span><a href="/upload" title="upload">upload</a></span>
		<span><a href="/post" title="post">post</a></span>
		<span><a href="/logout" title="logout">logout</a></span>
		<% } else { %>
		<span><a title="Login" href="/login">login</a></span>
		<span><a title="Register" href="/reg">register</a></span>
		<% } %>
		<span><form action="/search" method="GET"> <input type="text" name="keyword" placeholder="SEARCH" class="search"></form></span>
	</nav>
		<header >
		<h1><%= title %></h1>
	</header>
<article>
<% if (success) { %>
	<div><%= success  %></div>
<% } %>
<% if (error) { %>
	<div><%= error %></div>
<% }  %>		

	