<%- include header  %>
<form method="post">
<div class='reg '>
<h4>Login Blog </h4>
<fieldset style='padding-top: 25px;'>
<li calss="string input optional stringish"> 
<label>	username</label>
<input type="text" name="name"><br/>	
</li>
<li calss="string input optional stringish"> 
<label>	password</label>
 <input type="password" name="password"><br/>
</li>	
	
			  <input type="submit" value="login" class="btn btn-success" style="padding: 10px; font-size: 15px;">
			  &nbsp&nbsp<a href="/login/github" class="github">Login by Github</a>	
 </div>	
 </fieldset>		  
</form>
<%- include footer %>

