<%- include header %>
<form method="post">
	title: <br>
	<input type="text" name="title"> <br>
	tag : <br>
	<input type="text" name="tag1"/><input type="text" name="tag2"/><input type="text" name="tag3"/> <br>
	Content: <br>
	<textarea name="post" id="content" cols="100" rows="20"></textarea> <br>
	<input type="submit" value="post">
</form>
<%- include footer  %>