<%- include header %>
<form method="post">
username: <input type="text" name="name" /><br/>			
password: <input type="password" name="password"/><br/>
Verify password:<input type="password" name="password-repeat"/><br/>
mail: <input type="email" name="email"/> <br/>
	  <input type="submit" value="Register">
</form>	
<%- include footer %>