<%- include header %>
  <div class="content">
<form method="post" action="/upload" enctype="multipart/form-data" class="" style="padding: 10px; font-size: 15px;">
	<input type="file" name='file1' class="" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="file" name="file2" class="" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="file" name='file3' class="" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="file" name="file4" class="" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="file" name='file5' class="" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="submit" class="btn btn-success" style="padding: 20px; font-size: 15px; "> <br/>
</form>
</div>
<%- include footer %>