<%- include header %>
<form method="post" action="/upload" enctype="multipart/form-data" class="btn btn-success" style="padding: 10px; font-size: 15px;">
	<input type="file" name='file1' class="btn btn-success" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="file" name="file2" class="btn btn-success" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="file" name='file3' class="btn btn-success" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="file" name="file4" class="btn btn-success" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="file" name='file5' class="btn btn-success" style="padding: 10px; font-size: 15px;"> <br/>
	<input type="submit" class="btn btn-success" style="padding: 10px; font-size: 15px;"> <br/>
</form>
<%- include footer %>