/* inspired by http://yihui.name/cn/ */
*{padding:0;margin:0;}
body {
color: #333;
font-family: sans-serif;
font-size: 12pt;
line-height: 170%;
padding: 0 0px 0 180px;
}
.warpper{
   background:url(/images/bg.jpg);
}
h4{
	color: #1874CD;
}
p{line-height:24px;margin:1em 0;}
p.info{
	text-align: right;
	margin-right: 10em
}
p.post{
	border-style:dashed;border-width:0 0 1px 0;text-align: center;
}
div.content{
	border: solid thin;
	outline-color:#00ff00;
	background:#fefce4;
	border-radius: 4px;
  margin-bottom: 500px;
}
header{
	border-bottom:1px 
	solid #cccccc;
}
.navigation{
	/*background: #7EC0EE;*/
	padding: 100px 50px 400px 0;
	border-radius: 4px;
}
#label{
  color: #00EEEE;
}

nav{float:left;font-family:"Microsoft YaHei";font-size:1.1em;text-transform:uppercase;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;text-decoration:none;padding:.7em 1em;color:#000000;}
nav a:hover{background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
article{font-size:16px;padding-top:.5em;margin-bottom: 10em}
.info{font-size:14px;}
.edit{margin:3px;padding:2px 5px;border-radius:3px;background-color:#f3f3f3;color:#333;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#f00;color:#fff;-webkit-transition:color .2s linear;}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;margin-top: 2em;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#ff0000;font-weight:bold;margin-top: 2em;display: inline-block;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#ff0000;color:#f9f9f9;-webkit-transition:color .2s linear;}
.archive{list-style:none;line-height:28px;}
.archive h3{margin:0.5em 0;}
.archive time{float:left;font-size:14px;color:#54FF9F;margin-right:1.2em;}
.tag{background-color:#ff0000;border-radius:3px;font-size:14px;color:#ffffff;display:inline-block;padding:0 5px;margin-bottom:8px;}
.tag:hover{text-decoration:none;background-color:#ffffff;color:#000000;-webkit-transition:color .2s linear;}
.search{border:0;width:6em;text-align:center;font-size:1em;margin:0.5em 0;vertical-align:right ;}
.github{background-color:#4169E1;border-radius:3px;font-size:14px;color:#ffffff;display:inline-block;padding:0 5px;margin-bottom:8px;}
.github:hover{text-decoration:none;background-color:#ffffff;color:#000000;-webkit-transition:color .2s linear;}
.l_head{float:left;margin-left:-4em;}
.r_head{float:right;margin-top:-2.5em;box-shadow:0px 1px 4px #888;}

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.reg{
	margin-left: 300px;
}

.content {
	max-width: 690px;
	margin: 20px auto;
}
.cell {
	margin: 0 auto;
	background-color: #fff;
	clear: both;
	padding: 18px 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	border-radius: 4px;
}
.cell_loc{
	float:right;
	padding:2px 6px;
	background:url(../images/bgnoise_lg.png);
	border-radius: 9px;
	border-color: #BABABA #BABABA #BABABA #FFF;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset,
				0 0 0 1px rgba(0, 0, 0, 0.2) inset;
	font-size:6px;
}
.cell_author {
	font-size: 14px;
	vertical-align: middle;
	line-height: 100%;
	margin: 0 0 17px;
}


.cell_author img {
	border-radius: 20px;
	box-shadow: 0 0 6px hsla(0, 27%, 42%, .5);
	width: 40px;
	height: 40px;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 10px 0 0;
	border: 0;
}
.cell_author img:hover{
	box-shadow: 0 0 8px hsla(350, 89%, 48%, 0.69);
}
.cell_author a {
	color: #9b8878;
}


.cell_author a:hover {
	color: #300;
}


.cell_text {
	word-break: break-all;
	line-height: 160%;
}


.cell_bar {
	margin: 15px 0 0 0;
	height: 30px;
	font-size: 12px;
}


.cell_bar ul li {
	float: left;
}


.cell_bar ul li a {
	display: block;
	height: 28px;
	line-height: 30px;
	margin-right: 10px;
	text-indent: 20px;
	color: #BEBEBE;
	width: 80px;
	font-weight: 500;
}


.cell_bar ul li a:hover {
	color: #9e8c7b;
}


.cell_bar_comm {
	float: right;
	margin: 0;
	padding: 0;
}


.cell_bar_comm li {
	float: left;
}


.cell_share {
	float: right;
}
.share_icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background: url(../images/share_logo.png) no-repeat;
}
.share_sn {
	float: right;
	margin-right: 5px;
	background-position: -50px 0px;
}
.share_tc {
	float: right;
	margin-right: 15px;
	background-position: -100px 0px;
}
.share_rr {
	float: right;
	margin-right: 5px;
	background-position: -150px 0px;
}




